<div class="board-column">
  <div class="delete-column-btn">
    <mat-icon (click)="deleteColumn(column.id!)">close</mat-icon>
  </div>
  <app-title-input [column]="column"></app-title-input>
  <div class="tasks-container"
  [id]="column.id!"
  cdkDropList
  [cdkDropListData]="column.tasks!"
  [cdkDropListConnectedTo]="columnIds!"
  (cdkDropListDropped)="drop($event)">
      <app-task [columnId]="column.id!" [task]="task" *ngFor="let task of tasks" cdkDrag></app-task>
      <div class="no-tasks" *ngIf="tasks === undefined || tasks.length === 0">
        <p class="no-tasks-message">No tasks yet...</p>
        <img class="no-tasks-img" src="assets/img/no-tasks.png" alt="No tasks">
      </div>
    </div>
    <button class="add-task-btn" mat-raised-button color="primary" (click)="openAddTaskModal()">{{ 'Board.add-task' | translate }}</button>
</div>
