:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // min-width: 0;
  // min-height: 0;
  padding: 20px;
  max-height: calc(100vh - 161px);

  @media (max-width: 35rem) {
    max-height: calc(100vh - 228px);
  }
}

mat-icon {
  font-family: 'Material Icons' !important;
  font-size: 26px;
}

.btn {
  cursor: pointer;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 160px);
}

.board-title {
  display: flex;
  justify-content: center;
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;

  &__editable {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    text-transform: uppercase;
    overflow-wrap: break-word;
  }

  &__submit-btn {
    border: none;
    background: none;
    color: green;
  }

  &__close-btn {
    border: none;
    color: red;
  }
}

.board-wrapper {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
}

.board-columns {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 10px;
}

.add-column-btn:hover {
  color: red;
  transition: 0.5s;
}

.no-columns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;

  &-img {
    margin: 0 auto;
    height: 50vh;
    width: 30%;
    transform: translateX(10%);
  }
}