<div *ngIf="board$ | async as board">
  <h3 class="board-title">{{ board.board.title }}</h3>
  <div class="board-wrapper" cdkDropListGroup>
    <div class="board-columns"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropGrid($event)"
    [cdkDropListData]="columns$ | async"
    >
      <app-column [columnIds]="columnIds$ | async" cdkDragLockAxis="x" [column]="column"
        *ngFor="let column of columns$ | async" cdkDrag></app-column>
      <mat-icon class="add-column-btn" (click)="addColumn()">add_circle_outline</mat-icon>
    </div>
  </div>
  <div class="back-btn">
    <button [routerLink]="'/main'" mat-raised-button color="accent">{{ 'Board.back-btn' | translate }}</button>
  </div>
</div>
