:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content-container {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  overflow-y: auto;

  @media (max-width: 35rem) {
    padding-top: 70px;
  }
}

.mat-sidenav-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
