<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__info">
      <img src="./assets/img/github-logo.svg" alt="github logo" class="footer__info-img">
      <a class="footer__link" href="https://github.com/Hanna-Mamedova" target="_blank">Hanna Mamedova</a>
      <a class="footer__link" href="https://github.com/Pandobeer" target="_blank">Mikalai Pandobeer</a>
      <a class="footer__link" href="https://github.com/Jazzzrabbit" target="_blank">Jazzzrabbit</a>
    </div>
    <div class="footer__rs">
      <a class="footer__rs-link" href="https://rs.school/angular/" target="_blank">
        <img class="footer__rs-img" src="./assets/img/rs-logo.svg" alt="rs school logo">
      </a>
      <p class="footer__rs-year">2022 &copy;</p>
    </div>
  </div>
</footer>