<form class="form" [formGroup]="form" (submit)="updateFormValue($event)" >
  <h2>Registration form</h2>
  <label class="label">Name
    <input 
      class="input"
      type="text"
      name="name"
      formControlName="name"
      autocomplete="off">
  </label>
  <label class="label">Login
    <input 
      class="input"
      type="text"
      name="login"
      formControlName="login"
      autocomplete="off"
    >
  </label>
  <label class="label">Password
    <input 
      class="input"
      type="password"
      name="password"
      formControlName="password"
      autocomplete="off">
  </label>
  <button class="button" type="submit" (click)="register()">Register</button>
</form>