<form class="form" [formGroup]="form" (submit)="updateFormValue($event)">
  <h2>Login form</h2>
  <label class="label">Email
    <input 
      [class.input_invalid]="email.hasError('required') && isSubmitted || email.hasError('pattern') && isSubmitted"
      class="input"
      type="text"
      name="login"
      formControlName="login"
      autocomplete="off">
      <p *ngIf="email.hasError('pattern') && isSubmitted" class="error-message">Email is invalid!</p>
      <p *ngIf="email.hasError('required') && isSubmitted" class="error-message">Email is required!</p>
  </label>
  <label class="label">Password
    <input 
      [class.input_invalid]="password.hasError('required') && isSubmitted"
      class="input"
      type="password"
      name="password"
      formControlName="password"
      autocomplete="off">
      <p *ngIf="password.hasError('required') && isSubmitted" class="error-message">Password is required!</p>
  </label>
  <button class="button" type="submit" (click)="login($event)">Login</button>
</form>
