<form class="form" [formGroup]="form" (submit)="updateFormValue($event)">
  <h2>{{ 'Form.login-title' | translate }}</h2>
  <label class="label">{{ 'Form.login' | translate }}
    <input 
      [class.input_invalid]="email.hasError('required') && isSubmitted || email.hasError('pattern') && isSubmitted"
      class="input"
      type="text"
      name="login"
      formControlName="login"
      autocomplete="off">
      <p *ngIf="email.hasError('pattern') && isSubmitted" class="error-message">{{ 'Errors.emailInvalid' | translate }}</p>
      <p *ngIf="email.hasError('required') && isSubmitted" class="error-message">{{ 'Errors.emailRequired' | translate }}</p>
  </label>
  <label class="label">{{ 'Form.password' | translate }}
    <input 
      [class.input_invalid]="password.hasError('required') && isSubmitted"
      class="input"
      type="password"
      name="password"
      formControlName="password"
      autocomplete="off">
      <p *ngIf="password.hasError('required') && isSubmitted" class="error-message">{{ 'Errors.pswdRequired' | translate }}</p>
  </label>
  <button class="button" type="submit" (click)="login($event)">{{ 'Form.login-btn' | translate }}</button>
</form>
