/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';
@import './material';

@include mat-core();

$mat-light-primary: mat-palette($mat-indigo);
$mat-light-accent: mat-palette($mat-amber);
$mat-light-warn: mat-palette($mat-deep-orange);
$mat-light-theme: mat-light-theme($mat-light-primary, $mat-light-accent, $mat-light-warn);

$mat-light-theme: tweak-material-theme(
  $mat-light-theme,
  $foreground: (
    text:             mat-color($mat-grey, 900),
    light-text:       mat-color($mat-light-primary, 50),
    dark-text:        mat-color($mat-light-primary, 900)
  ),
  $background: (
    app-bar:          white,
    status-bar:       white,
    background:       white,
  )
);


$mat-dark-primary: mat-palette($mat-purple);
$mat-dark-accent:  mat-palette($mat-amber, 900);
$mat-dark-warn:    mat-palette($mat-deep-orange);
$mat-dark-theme:   mat-dark-theme($mat-dark-primary, $mat-dark-accent, $mat-dark-warn);

$mat-dark-theme: tweak-material-theme(
  $mat-dark-theme,
    $foreground: (
      // Overrides Material foreground colors
        text: mat-color($mat-dark-primary, 50),
        light-text: mat-color($mat-dark-primary, 50),
        dark-text: mat-color($mat-grey, 900)
    ),
    $background: (
      // Overrides Material background colors
        app-bar: rgba(black, 0.87),
        status-bar: rgba(black, 0.87),
        background: mat-color($mat-grey, 700)
    )
  );

@include angular-material-theme($mat-light-theme);

.dark-theme {
  @include angular-material-theme($mat-dark-theme);
}

.light-theme {
  @include angular-material-theme($mat-light-theme);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scrollbar {
  margin-left: 22px;
  float: left;
  height: 300px;
  width: 65px;
  background: transparent;
  overflow-y: scroll;
  margin-bottom: 25px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}


body::-webkit-scrollbar-track {
  background: #d7dbf0;
  border: 1px solid #d3d8f3;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(116, 114, 114);
  border: 1px solid rgb(128, 126, 126);
}

body::-webkit-scrollbar-thumb:hover {
  background: #a39298;
}

body::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to left, #7d9edb, #1e98baf6);
}


