<h2 mat-dialog-title>Add Task</h2>

<form [formGroup]="addTaskForm" (ngSubmit)="addTask()">

  <mat-dialog-content class="add-task__content">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" autocomplete="off" />
      <mat-error *ngIf="title.hasError('required')">Please enter a task title</mat-error>
      <mat-error *ngIf="addTaskForm.touched && title.hasError('minLength')">
        Title should contain at least 3 letters
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description" autocomplete="off" />
      <mat-error *ngIf="description.hasError('required')">Please enter a task description</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button [mat-dialog-close]="true" cdkFocusInitial [disabled]="addTaskForm.invalid" mat-raised-button color="accent" type="submit">Add task</button>
    <button mat-dialog-close mat-raised-button color="primary">Cancel</button>
  </mat-dialog-actions>

</form>
