<h1 mat-dialog-title>{{'Update-board.title' | translate}}</h1>
<form (ngSubmit)="onUpdate()" [formGroup]="updateBoardForm" class="board-form">

    <div>
        <label for="title">{{'Update-board.form.labelBoard' | translate}}</label>
        <input formControlName="title" type="text" placeholder="{{'Update-board.form.placeholderBoard' | translate}}" />
    </div>

    <div>
        <label for="description">{{'Update-board.form.labelDescription' | translate}}</label>
        <input formControlName="description" type="text"
            placeholder="{{'Update-board.form.placeholderDescription' | translate}}" />
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="cancel-btn">{{'Update-board.dialog.cancel' | translate}}</button>
        <button mat-button mat-dialog-close [disabled]="!updateBoardForm.valid"
            type="submit">{{'Update-board.dialog.edit' | translate}}</button>
    </div>
</form>