<h1 mat-dialog-title>Edit Board</h1>
<form (ngSubmit)="onUpdate()" [formGroup]="updateBoardForm" class="board-form">

    <div class="form-control">
        <label for="title">Board</label>
        <input formControlName="title" type="text" placeholder="Edit Title" />

        <!-- <div *ngIf="newBoardForm.get('title')?.invalid && newBoardForm.get('title')?.touched" class="validation">
            <small *ngIf="newBoardForm.get('title')?.errors?.['required']">Please enter Board's title</small>
        </div> -->
    </div>

    <div class="form-control">
        <label for="description">Description</label>
        <input formControlName="description" type="text" placeholder="Edit description" />
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="cancel-btn">Cancel</button>
        <button mat-button mat-dialog-close [disabled]="!updateBoardForm.valid" type="submit">Edit</button>
    </div>
</form>