<h1 mat-dialog-title>Create new Board</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="newBoardForm" class="board-form">


    <div class="form-control">
        <label for="board">Board</label>
        <input formControlName="board" type="text" placeholder="Title" />

        <div *ngIf="newBoardForm.get('board')?.invalid && newBoardForm.get('board')?.touched" class="validation">
            <small *ngIf="newBoardForm.get('board')?.errors?.['required']">Please enter new Board's title</small>
        </div>
    </div>

    <div class="form-control">
        <label for="description">Description</label>
        <input formControlName="description" type="text" placeholder="Description" />
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="cancel-btn">Cancel</button>
        <button mat-button mat-dialog-close [disabled]="!newBoardForm.valid" type="submit">Create</button>
    </div>
</form>