<h1 mat-dialog-title>{{'Create-new-board.title' | translate}}</h1>
<form (ngSubmit)="onCreate()" [formGroup]="newBoardForm" class="board-form">


    <div class="form-control">
        <label for="title">{{'Create-new-board.form.labelBoard' | translate}}</label>
        <input formControlName="title" type="text"
            placeholder="{{'Create-new-board.form.placeholderBoard' | translate}}" />

        <div *ngIf="newBoardForm.get('title')?.invalid && newBoardForm.get('title')?.touched" class="validation">
            <small *ngIf="newBoardForm.get('title')?.errors?.['required']">{{'Create-new-board.form.titleRequired' |
                translate}}</small>
        </div>
    </div>

    <div class="form-control">
        <label for="description">{{'Create-new-board.form.labelDescription' | translate}}</label>
        <input formControlName="description" type="text"
            placeholder="{{'Create-new-board.form.placeholderDescription' | translate}}" />
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="cancel-btn">{{'Create-new-board.dialog.cancel' | translate}}</button>
        <button mat-button mat-dialog-close [disabled]="!newBoardForm.valid"
            type="submit">{{'Create-new-board.dialog.create' | translate}}</button>
    </div>
</form>