<section class="rss">
  <div class="rss__content">
    <div class="rss__text">
      <p>
        This application is a part of <span>RS School</span> Angular course.
      </p>
      <p>
        RS School is free-of-charge and community-based education program conducted by The Rolling Scopes developer community since 2013.
      </p>
      <p>
        The mentors and trainers of the school are front-end and javascript developers from different companies and countries.
      </p>
      <p>
        Everyone can study at RS School, regardless of age, professional employment, or place of residence. However, you should have sufficient base knowledge before the program begins.
      </p>
      <p>Want to learn more about RS School? You can visit their site by clicking the link
        <a class="rss__link" href="https://rs.school/" target="_blank">Visit RS School.</a>
      </p>
    </div>
    <div class="rss__image">
      <img class="rss__image-img" src="./assets/img/webdev.jpg" alt="Web Development">
    </div>
  </div>
</section>
