<section class="rss">
  <div class="rss__content">
    <div class="rss__text">
      <p>{{ 'Home.rss.1paragraph' | translate }}</p>
      <p>{{ 'Home.rss.2paragraph' | translate }}</p>
      <p>{{ 'Home.rss.3paragraph' | translate }}</p>
      <p>{{ 'Home.rss.4paragraph' | translate }}</p>
      <p>{{ 'Home.rss.5paragraph' | translate }}
        <a class="rss__link" href="https://rs.school/" target="_blank">{{ 'Home.rss.link' | translate }}</a>
      </p>
    </div>
    <div class="rss__image">
      <img class="rss__image-img" src="./assets/img/webdev.jpg" alt="Web Development">
    </div>
  </div>
</section>
