<div class="block"></div>
<header class="header">
  <div class="header__wrapper">
    <a class="header__logo" href="#">
      <img class="header__logo-img" src="./assets/img/logo.svg" alt="logo">
    </a>
    <div class="header__buttons--loggedout" *ngIf="(authService.isLoggedIn$ | async) === false">
      <a class="header__button" [routerLink]="['/auth/register']">{{ 'Header.registration' | translate }}</a>
      <a class="header__button" [routerLink]="['/auth/login']">{{ 'Header.login' | translate }}</a>
      <app-language-switcher></app-language-switcher>
    </div>
    <div class="header__buttons--loggedin" *ngIf="authService.isLoggedIn$ | async">
      <app-profile-menu></app-profile-menu>
      <app-language-switcher></app-language-switcher>
    </div>
  </div>
</header>