<section class="welcome">
  <div class="welcome__content">
    <div class="welcome__text">
      <div class="welcome__header">
        <h1 class="welcome__title">
          Our <span class="welcome__title-span">Project Manager</span>
          <br>
          is the best way to improve your team's efficiency and make your work processes organized and smooth.</h1>
      </div>
      <div class="welcome__main">
        <p class="welcome__main-text">
          This application is based on the Kanban method and it is absolutely free. All you need to do is to create your own account. You are only few steps away from getting access to your own kanban boards.
          Click on the button below to begin.
        </p>
        <a class="welcome__button" [routerLink]="['/auth/register']">Get Started</a>
      </div>
    </div>
    <div class="welcome__image">
      <img class="welcome__image-img" src="./assets/img/pm.jpg" alt="Project Managment Visualization">
    </div>
  </div>
</section>
