<div class="boards">
    <div class="boards__header">
        <h2 class="boards__title">{{'Boards.title' | translate}}</h2>
    </div>

    <div class="boards__functionality">
        <mat-form-field appearance="fill" class="boards-search">
            <mat-label>
                <mat-icon>search</mat-icon>
                {{'Boards.search' | translate}}
            </mat-label>
            <input matInput>
        </mat-form-field>

        <button mat-flat-button color="primary" class="btn boards-create" (click)="openDialog()">{{'New-board.title' |
            translate}}</button>
    </div>

    <app-board-item *ngFor="let board of boards$ | async" [board]='board'></app-board-item>

</div>