<div class="boards__list">
    <h1>Boards</h1>

    <mat-card class="board__card">
        <mat-card-title>Board Title 1</mat-card-title>
        <mat-card-subtitle>Board Subtitle</mat-card-subtitle>
        <mat-card-content>
            <p>Description</p>
            <!-- <p>{{longText}}</p> -->
        </mat-card-content>
        <mat-card-actions align="end">
            <button class="board__card-button" mat-icon-button color="warn" aria-label="delete_icon">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="board__card">
        <mat-card-title>Board Title 2</mat-card-title>
        <mat-card-subtitle>Board Subtitle</mat-card-subtitle>
        <mat-card-content>
            <p>Description</p>
            <!-- <p>{{longText}}</p> -->
        </mat-card-content>
        <mat-card-actions align="end">
            <button class="board__card-button" mat-icon-button color="warn" aria-label="delete_icon">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

</div>