<div class="column-title" *ngIf="!isEditEnable || !isEditMobileEnable" cdkDragHandle (click)="onEdit()">{{ column.title }}</div>
<form class="title" *ngIf="isEditEnable || isEditMobileEnable" (ngSubmit)="onSubmit(column.id!)">
  <mat-form-field>
    <input class="title-input" name="title" matInput type="text" placeholder="Enter title" [value]="column.title" [(ngModel)]="title" autofocus>
    <mat-error *ngIf="!title">{{ 'Errors.columnTitleRequired' | translate }}</mat-error>
  </mat-form-field>
  <button class="submit-btn" type="submit">
    <mat-icon>done</mat-icon>
  </button>
  <mat-icon class="close-btn" (click)="onCancel()">close</mat-icon>
</form>
