.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &__button {
    background-color: transparent;
    width: 2rem;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
    border: none;
    font-size: 14px;
  }

  &__button:hover {
    color: #C0C0C0;
    transform: scale(1.2);
  }

  &__img {
    width: 2rem;
  }
}